@font-face {
    font-family: 'Cherry Bomb One';
    src: url('../fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf') format('truetype');
  }

* {
    padding: 0px;
    margin: 0px;
    font-family: "Cherry Bomb One";
}

body {
    background-image: url("../img/main_background.png");
}

button:hover {
    cursor: pointer;
}

.container_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap_container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}

.logo {
    width: 194px;
}

.start_button {
    width: 238px;
    height: 238px;
    
    border-radius: 300px;
    background: none;
    border: none;
    /* box-shadow: -5px 5px 2px rgba(0,0,0,0.6), inset -6px 6px 6px white; */
    /* box-shadow: 5px 5px 2px rgba(0,0,0,0.6), inset 6px 6px 6px white; */
    box-sizing: border-box;

    margin-bottom: 70px;
    margin-top: 14px;

    animation-duration: 2s;
    animation-name: blob_rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.start_button img {
    margin: auto;
    margin-left: 20px;
}

.start_button:hover {
    cursor: pointer;
}

.start_text {
    color: #DA6B1A;
    font-size: 36px;
    /* offset-x | offset-y | blur-radius | color */
}

.intro_message {
    font-size: 32px;
    width: 492px;
    color: #DA6B1A;
    transition: all, 5s;
}

.intro_message:hover {
    cursor: pointer;
}

.fade_out {
    opacity: 0;
}

.fade_in {
    opacity: 100;
}

.text_shadow {
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

@keyframes blob_rotation {
    from {
        box-shadow: -5px 5px 2px rgba(0,0,0,0.6), inset -6px 6px 6px white;
    }

    to {
        box-shadow: 5px 5px 2px rgba(0,0,0,0.6), inset 6px 6px 6px white;
    }
}


/* ===================================================================== */

/* Tela de Login */

.menu_incial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 22px 0 22px;
}


.back_button{
    width: 91px;
    height: 91px;
    border-radius: 400px;
    border: none;
    background: none;
    /* box-shadow: [inset][h-offset][v-offset][blur][spread][color]; */
    /* box-shadow: -3px 3px 4px rgba(0,0,0,0.6), inset -3px 3px 4px 1px white; */
}

.back_button:hover{
    cursor: pointer;
}

.wrapper_login {
    width: 900px;
    border: none;
    margin: auto;
    border-radius: 35px;
    box-shadow: inset 0px 0px 30px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 79px;
    
}

.wrapper_login input {
    width: 436px;
    height: 46px;
    border-radius: 40px;
    font-size: 40px;
    color: #CA9B2F;
    padding-left: 35px;
    box-sizing: border-box;
}

.wrapper_login input::placeholder {
    color: #CA9B2F;
}

.wrapper_login button {
    height: 65px;
    border-radius: 40px;
    font-size: 40px;
    color: #55A63F;

}

.txt_log{
    margin-bottom: 52px;
}

.txt_pwd {
    margin-bottom: 136px;
}

.btn_login {
    width: 149px;
    margin-bottom: 77px;
}

.btn_criar {
    width: 329px;
    margin-bottom: 77px;
}

.btn_continuar {
    width: 436px;
    margin-bottom: 77px;
}

.blob_efect {
    background: none;
    border: none;
    box-shadow: -3px 3px 4px rgba(0,0,0,0.6), inset -3px 3px 4px 1px white;
}

/* ==================================================================================== */

/* Main */

.main_menu {
    
}