/* Configurações Gerais do Site */
@font-face {
    font-family: 'Cherry Bomb One';
    src: url('../fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf') format('truetype');
  }

* {
    padding: 0px;
    margin: 0px;
    font-family: "Cherry Bomb One";
}

body {
    background-image: url("../img/main_background.png");
}

button:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* ====================================================================*/

/* Classes Gerais */
.blob_efect {
    background: none;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.6), inset 0px 0px 20px -5px #000;
}

.blob_efect a, button{
    background: none;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.6), inset 0px 0px 20px -5px #000;
    border-radius: 400px;
}

.blob_efect a:hover, button:hover {
    box-shadow: -3px 3px 4px rgba(0,0,0,0.6), inset -3px 3px 4px 1px white;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 194px;
}

.wrapper_conf {
    align-self: flex-end;
    margin-bottom: 5px;
}

.wrapper_conf ul {
    display: flex;
    align-items: center;
}

.wrapper_conf ul li {
    margin-right: 19px;
}

.wrapper_conf ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    width: 114px;
    height: 114px;
}

.wrapper_conf ul li a:hover {
    box-shadow: -3px 3px 4px rgba(0,0,0,0.6), inset -3px 3px 4px 1px white;
}

/* ===================================================================== */

.wrap_container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}


.start_button {
    width: 238px;
    height: 238px;
    
    border-radius: 300px;
    background: none;
    border: none;
    /* box-shadow: -5px 5px 2px rgba(0,0,0,0.6), inset -6px 6px 6px white; */
    /* box-shadow: 5px 5px 2px rgba(0,0,0,0.6), inset 6px 6px 6px white; */
    box-sizing: border-box;

    margin-bottom: 70px;
    margin-top: 14px;

    animation-duration: 2s;
    animation-name: blob_rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.start_button img {
    margin: auto;
    margin-left: 20px;
}

.start_button:hover {
    cursor: pointer;
}

.start_text {
    color: #DA6B1A;
    font-size: 36px;
    /* offset-x | offset-y | blur-radius | color */
}

.intro_message {
    font-size: 32px;
    width: 492px;
    color: #DA6B1A;
    transition: all, 5s;
}

.intro_message:hover {
    cursor: pointer;
}

.fade_out {
    opacity: 0;
}

.fade_in {
    opacity: 100;
}

.text_shadow {
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

@keyframes blob_rotation {
    from {
        box-shadow: -5px 5px 2px rgba(0,0,0,0.6), inset -6px 6px 6px white;
    }

    to {
        box-shadow: 5px 5px 2px rgba(0,0,0,0.6), inset 6px 6px 6px white;
    }
}


/* ===================================================================== */

/* Tela de Login */

.menu_incial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 22px 0 22px;
}


.back_button{
    width: 91px;
    height: 91px;
    border-radius: 400px;
    border: none;
    background: none;
}

.back_button:hover{
    cursor: pointer;
}

.wrapper_login {
    width: 600px;
    border: none;
    margin: auto;
    border-radius: 35px;
    box-shadow: inset 0px 0px 30px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 79px;
    
}

.wrapper_login input {
    width: 436px;
    height: 46px;
    border-radius: 40px;
    font-size: 40px;
    color: #CA9B2F;
    padding-left: 35px;
    box-sizing: border-box;
}

.wrapper_login input::placeholder {
    color: #CA9B2F;
}

.wrapper_login button {
    height: 65px;
    border-radius: 40px;
    font-size: 40px;
    color: #55A63F;

}

.txt_log{
    margin-bottom: 52px;
}

.txt_pwd {
    margin-bottom: 136px;
}

.btn_login {
    width: 149px;
    margin-bottom: 77px;
}

.btn_criar {
    width: 329px;
    margin-bottom: 77px;
}

.btn_continuar {
    width: 436px;
    margin-bottom: 77px;
}



/* ==================================================================================== */

/* Main */


.main_menu {
    border-radius: 30px;
    margin: 26px;
    padding: 15px 0px;
    margin-bottom: 78px;
}

.main_menu nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_menu nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.pessoa {
    width: 60px;
}

.play {
    width: 80px;
    margin-left: 10px;
}

.wrapper_level_select {
    margin: 0 auto;
    width: 75vw;
    height: 528px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.box_nivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    width: 278px;
    height: 394px;
    border-radius: 40px;
    margin-left: 53px;
}

.box_nivel h3 {
    color: #CA9B2F;
}

.box_nivel button {
    box-shadow: none;
    font-size: 40px;
    color: #55A63F;
    display: flex;
    margin-top: 154px;
}

.box_nivel button img {
    margin-top: 20px;
    margin-left: 10px;
}

.box_numbers {
    margin-top: 190px;
}

.up_row {
    margin-left: 124px;
}

.down_row {
    margin-left: 26px;
}

.down_row button:hover, .up_row button:hover {
    box-shadow: -3px 3px 4px rgba(0,0,0,0.6), inset -3px 3px 4px 1px white;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

.down_row button, .up_row button{
    box-shadow: none;
    width: 90px;
    height: 90px;
    background-color: #9BEBF3;
    color: #5189B1;
    font-size: 40px;
    margin-right: 88px;
}

/* ========================================================================================= */

/* Ranking */

.wrapper_ranking {
    width: 50vw;
    height: 687px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_ranking h3 {
    font-size: 40px;
    color: #CA9B2F;
    margin-bottom: 58px;
    margin-top: 20px;
}

.wrapper_ranking ul li {
    font-size: 40px;
    color: #CA9B2F;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

/* ======================================================================================= */

/* Pefil */

.wrapper_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 25px;
    margin-bottom: 50px;
}

.wrapper_perfil h3 {
    font-size: 40px;
    color: #CA9B2F;
    margin-bottom: 58px;
    margin-top: 20px;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

.wrapper_perfil img {
    width: 191px;
    margin-bottom: 30px;
}

.wrapper_perfil p {
    font-size: 40px;
    color: #CA9B2F;
    margin-bottom: 20px;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

/* ====================================================================== */

/* Configuração */

.wrapper_conf {

}

.wrapper_config {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    margin-bottom: 40px;
    font-size: 40px;
    color: #55A63F;
    text-shadow:
    -1px -1px 0 #000, /* Sombra superior esquerda (cor do contorno) */
     1px -1px 0 #000, /* Sombra superior direita (cor do contorno) */
    -1px  1px 0 #000, /* Sombra inferior esquerda (cor do contorno) */
     1px  1px 0 #000; /* Sombra inferior direita (cor do contorno) */
}

.wrapper_config h3 {
    color: #CA9B2F;
    margin-bottom: 78px;
}

.wrapper_config a {
    box-shadow: none;
    color: #55A63F;
    transition: 2s all;
}

.wrapper_config a:hover {
    box-shadow: none;
    font-size: 50px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ae4339;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #55A63F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #87c982;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .btn_cadastrar {
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }